footer{
    background: var(--gray-900, #1E212C);
    height: 280px;
}
.sm{
    border-radius: 4px;
    width: 32px;
    height: 32px;
    background-color: rgba(128, 128, 128, 0.161);
}
.social-media{
    padding-top: 12px;
}
.footer__wrap{
    padding-top: 60px;
    gap: 150px;
}