@import url(index.css);

.header-top{
    background: var(--gray-900, #1E212C);
    padding: 12px 0;
}
.header-button{
    padding: 31px 0;
}
.cart-number{
    border-radius: 4px;
    background: var(--success, #03CEA4);
    padding: 1px 8px;
}